<%= form_for(@specyfication) do |f| %>
  <% if @specyfication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specyfication.errors.count, "error") %> prohibited this specyfication from being saved:</h2>

      <ul>
      <% @specyfication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.hidden_field :product_id, :value => session[:product] %>
   <%= f.hidden_field :type_specific_id, :value => '1' %>
 
  <div class="field">
    <%= f.label :surowiec %><br />
    <%= f.select :specific_id, Product.where(:category_id => '2').collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
