<%= form_for(@specyfication) do |f| %>
  <% if @specyfication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specyfication.errors.count, "error") %> prohibited this specyfication from being saved:</h2>

      <ul>
      <% @specyfication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="ul-block field">
    <%= f.hidden_field :product_id, :value => session[:product] %>
   <% 
   case @specyfication.type_specific_id
    when 1 %>
      <li>
      <%= f.label :type_specific %><br />
      <%= f.select :type_specific_id, TypeSpecific.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
     <br />
      <%= f.label :position %><br />
      <%= f.select :specific_id, Product.where(:category_id => '3').collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      </li>
      <li>
        <h3>MEDIUM PRICE = <%= number_to_zl(@specyfication.product.medium_price) %><h3>
   <% when 4 %>
      <li>
      <%= f.label :type_specific %><br />
      <%= f.select :type_specific_id, TypeSpecific.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      <br />
      <%= f.label :position %><br />
      <%= f.select :specific_id, Position.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      </li>
      <li>
        <h3>RATE = <%= number_to_zl(@specyfication.position.rate) %> h <h3>
    <% when 5 %>
      <li>
      <%= f.label :type_specific %><br />
      <%= f.select :type_specific_id, TypeSpecific.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      <br />
      <%= f.label :Equipment %><br />
      <%= f.select :specific_id, Equipment.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      </li>
       <li>
        <h3>RATE = <%= number_to_zl(@specyfication.equipment.rate) %> h <h3>
     
    <% when 6 %>
      <li>
      <%= f.label :type_specific %><br />
      <%= f.select :type_specific_id, TypeSpecific.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      <br />
      <%= f.label :other %><br />
      <%= f.select :specific_id, Other.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
      </li>
      <li>
        <h3>VALUE = <%= number_to_zl(@specyfication.other.value) %> h <h3>
   <% end %>

    <li>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </li>
</ul>
  <div class="actions right">
    <%= f.submit %>
  </div>
<% end %>
