
<p>
  <b>Date delivery: 
  <%= @delivery.date_delivery %>
  <%= session[:delivery] %>
  <b>Number:</b>
  <%= @delivery.number %>
  <br />
  <b>Contractor: 
  <%= @delivery.contractor.name %> adress: <%= @delivery.contractor.street %> <%= @delivery.contractor.code %> <%= @delivery.contractor.city %>  tel: <%= @delivery.contractor.phone1 %>

</p>
<%= link_to 'New Delivery product', new_delivery_product_path %>

<%= render '/delivery_products/list' %>

<h2 class="total">TOTAL: <%= number_to_currency(@delivery.total) %></h2>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %> | <%= link_to 'OK', deliveries_path %> | <%= link_to 'Anuluj', delivery, method: :delete, data: { confirm: 'Are you sure?' } %>
