<%= form_for(@delivery_product) do |f| %>
  <% if @delivery_product.errors.any? %>
    <li id="error_explanation">
      <h2><%= pluralize(@delivery_product.errors.count, "error") %> prohibited this delivery_product from being saved:</h2>

      <ul>
      <% @delivery_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.hidden_field :delivery_id, :value => session[:delivery] %>
 <ul class="ul-field item-field">
    <li class='li-select'>
      <%= f.label :product_id %>: 
      <%= f.select :product_id, Product.all.collect { |p| [ p.name, p.id ] }, :prompt => 'Select' %>
    </li>
    <li >
      <%= f.label :price %>: 
      <%= f.text_field :price %>
    </li>
    <li >
      <%= f.label :quantity %>:
      <%= f.number_field :quantity %>
    </li>
    <li class="actions">
      <%= f.submit %>
    </li>
  </ul>
<% end %>
