<%= form_for(@contractor) do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="conta">

<ul id="bookmarks">
  <li class="active"><a href="#bar1" class="bar1">Bar</a></li>
  <li><a href="#bar2" class="bar2">Bar #2</a></li>
</ul>

<div id="content">

<div id="bar1">
  <p class="field">
    <%= f.label :type_contractors %><br />
    <%= f.select :type_contractors, [ 'dostawca', 'odbiorca'], :prompt => 'Select One' %>
  </p>
  <p class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
  <p class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p class="field">
    <%= f.label :pesel %><br />
    <%= f.text_field :pesel %>
  </p>
  <p class="field">
    <%= f.label :regon %><br />
    <%= f.text_field :regon %>
  </p>
</div>
<div id="bar2">
  <p class="field">
    <%= f.label :phone1 %><br />
    <%= f.telephone_field :phone1 %>
  </p>
  <p class="field">
    <%= f.label :phone2 %><br />
    <%= f.telephone_field :phone2 %>
  </p>
  <p class="field">
    <%= f.label :fax %><br />
    <%= f.telephone_field :fax %>
  </p>
  <p class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  <p class="field">
    <%= f.label :sale %><br />
    <%= f.text_field :sale %>
  </p>
  <p class="field">
    <%= f.label :maturity %><br />
    <%= f.text_field :maturity %>
  </p>
  <p class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </p>
  <p class="field">
    <%= f.label :bank_account %><br />
    <%= f.text_field :bank_account %>
  </p>
</div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
