<h1>KONTRACHENCI</h1>
<ul class="ul-block ul-2">
	<li>	
	<%= form_tag contractors_path, :method => 'get', :id => "contractors_search" do %>  
	  <p>  
	    <%= text_field_tag :search, params[:search] %>  
	    <%= submit_tag "Search", :name => nil %>  
	  </p>  
	</li>
	<li>
		<%= link_to 'New Contractor', new_contractor_path, :class => "button icon-plus",  :icon => "icon-plus" %></li>
</ul>
<div id="contractors"><%= render 'contractors' %></div>
<% end %>  
<br />


