<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @contractor.type_contractors %>
</p>

<p>
  <b>Short name:</b>
  <%= @contractor.short_name %>
</p>

<p>
  <b>Name:</b>
  <%= @contractor.name %>
</p>

<p>
  <b>Code:</b>
  <%= @contractor.code %>
</p>

<p>
  <b>City:</b>
  <%= @contractor.city %>
</p>

<p>
  <b>Street:</b>
  <%= @contractor.street %>
</p>

<p>
  <b>Pesel:</b>
  <%= @contractor.pesel %>
</p>

<p>
  <b>Regon:</b>
  <%= @contractor.regon %>
</p>

<p>
  <b>Phone1:</b>
  <%= @contractor.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @contractor.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @contractor.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @contractor.email %>
</p>

<p>
  <b>Sale:</b>
  <%= @contractor.sale %>
</p>

<p>
  <b>Maturity:</b>
  <%= @contractor.maturity %>
</p>

<p>
  <b>Discount:</b>
  <%= @contractor.discount %>
</p>

<p>
  <b>Bank account:</b>
  <%= @contractor.bank_account %>
</p>


<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
