
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <ul class="ul-field ul-3">


    <% if @product.category_id = '1' || @product.category_id = '2' %>
      <li>
        <%= f.label :index %><br /> 
        <%= f.text_field :index %><br />
        <b>Measure:  </b> <%= @product.measure %> <%= @product.unit.name %>
      </li>
      <li>
        <%= f.label :name %> <br />
        <%= f.text_field :name %><br />
        <b>Value:  <%= number_to_zl(@product.value) %></b>

       </li>
       <li class="right"><%= f.label :category %>
        <%= f.select :category_id, Category.all.collect {|t| [ t.name, t.id ] }  %><br /> 
         <b>Unit price: <%= number_to_zl(@product.medium_price) %></b>  
      </li>
    <% else %>
          <li>
          <%= f.label :index %><br /> 
          <%= f.text_field :index %>
        </li>
        <li>
          <%= f.label :name %> <br />
          <%= f.text_field :name %>
         </li>
         <li class="right"><%= f.label :category %>
          <%= f.select :category_id, Category.all.collect {|t| [ t.name, t.id ] }  %><br />   
        </li>
    <% end %>
  </ul>
<hr>

<ul id="bookmarks">
  <li class="active"><a href="#bar1" class="bar1">Dane</a></li>
  <li><a href="#bar2" class="bar2"></a></li>
  <li><a href="#bar3" class="bar3">Ceny</a></li>
  <li><a href="#bar2" class="bar2"></a></li>
  <li><a href="#bar4" class="bar4">E-sklep</a></li>
   <li><a href="#bar2" class="bar2"></a></li>
  <li><a href="#bar" class="bar5">Specyfikacja</a></li>
   
</ul>

<div id="content">

<div id="bar1">
  <ul class="ul-field product-field">
    <li>
    <%= f.label :unit_basic %> <span class="l-unit-sale"><%= f.label :unit_sale %></span> <br /> 
    <%= f.select :unit_basic, Unit.all.collect {|u| [ u.name, u.id ] } %>
     = <%= f.number_field :converter %>
    
    <%= f.select :unit_sale, Unit.all.collect {|u| [ u.name, u.id ] } %><br />
    
    <%= f.label :measure %><span class="f-exp-date"><%= f.label :expiration_date %></span><br />
    <%= f.number_field :measure %><span class="f-exp-date"><%= f.number_field :expiration_date %></span><br />
    
    
    <%= f.label :barcode %><br />
    <%= f.number_field :barcode %><br />
   
    </li>
    <li>
      <%= f.label :state_min %><br />
      <%= f.text_field :state_min %> <%= @product.unit.name%><br />
   
      <%= f.label :state_max %><br />
      <%= f.text_field :state_max %> <%= @product.unit.name%><br /><br />

      <h2>STATE: <%= @product.state%> <%= @product.unit.name%></h2>
    
    </li>
  </ul>
<div class="clear"></div>
  <hr>
  <p class="actions right">
    <%= f.submit %>
  </p>

</div>

<div id="bar3">

  <ul class="ul-block product-price-filed">
      <li class="product-vat">
       <b>MEDIUM PRICE</b> <br /><%= number_to_zl(@product.medium_price) %><br />

        <%= f.label :vat %>
        
       <%= f.select :vat,  [ ['3%','3'], ['8%','8'], ['22%','22']], :prompt => 'vat' %>
       
    </li>
    </li>
     <li class="product_cal">
        + 
    </li>
      <li class="right">
      PROFIT<br />
      <%= number_to_zl(@product.profit(@product.quantity_price)) %><br />
      <%= number_to_zl(@product.profit(@product.retial_price)) %><br />
      <%= number_to_zl(@product.profit(@product.price_a)) %><br />
      <%= number_to_zl(@product.profit(@product.price_b)) %><br />
    </li>
    <li class="product_cal">=</li>
    <li class="left">
      <br />
      <%= f.label :price %><br />
      <%= f.label :retial %><br />
      <%= f.label :price_a %><br />
      <%= f.label :price_b %><br />
    </li>
    <li clss="center">
      NETTO
      <%= f.text_field :quantity_price %><br />
      <%= f.text_field :retial_price %><br />
      <%= f.text_field :price_a %><br />
      <%= f.text_field :price_b %><br />
    </li>
    
    <li class="right">
      BRUTTO<br />
      <%= number_to_zl(@product.price_brutto) %><br />
      <%= number_to_zl(@product.retial_brutto) %><br />
      <%= number_to_zl(@product.price_a_brutto) %><br />
      <%= number_to_zl(@product.price_b_brutto) %><br />
    </li>
  </ul>

 <div class="clear"></div>
 <hr>
  <p class="actions right">
    <%= f.submit %>
  </p>
</div>
<div div id="bar4">
  <p class="field">
    <%= f.label :spree_products_id %><br />
    <%= f.number_field :spree_products_id %>
  </p>
  <div class="clear"></div>
  <hr>
  <p class="actions right">
    <%= f.submit %>
  </p>
</div> 
<% end %>
