<table class="table-list">
  <tr>
    <th>Lp</th>
    <th>Name</th>
    <th>Index</th>
    <th>State</th>
    <th>Unit</th>
    <th>price netto</th>
    <th>Vat</th>
    <th>price brutto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each_with_index do |product, i| %>
  <tr>
    <td class="center"><%= i+1 %></td>
    <td><% if product.name? %><%=product.name %><% end %></td>
    <td><% if product.index? %><%= product.index %><% end %></td>
    <td class="right"><%= product.state %></td>
    <td class="right"><% if product.unit_sale? %>

        <%= product.unit.name %>
        <% end %>
    </td>
    <td class="right"><%= number_to_zl(product.quantity_price) %></td>
    <td class="right"><%= product.vat %> %</td>
    <td class="right"><%= number_to_zl(product.price_brutto) %></td>

    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @products %>
