<table>
  <tr>
    <th>Name</th>
    <th>Index</th>
    <th>State</th>
    <th>Unit</th>
    <th>price netto</th>
    <th>Vat</th>
    <th>price brutto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.index %></td>
    <td><%= product.state %></td>
    <td><%= product.unit.name%></td>
    <td><%= price_netto=product.quantity_price %></td>
    <td><%= vat=product.vat %> %</td>
    <td><%= price_brutto=price_netto+(price_netto*vat*0.01)%></td>

    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @products %>
