<h1>Listing products</h1>

<%= render '/products/form1' %>
<hr>

<%= form_tag products_path, :method => 'get', :id => "products_search" do %>  
  <p class="field search right">  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
  </p>  

<div id="products"><%= render 'products' %></div>
<% end %>  
<br />

