<p id="notice"><%= notice %></p>

<p>
  <b>Type product:</b>
  <%= @product.type_product %>
</p>

<p>
  <b>Index:</b>
  <%= @product.index %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Measure:</b>
  <%= @product.measure %>
</p>

<p>
  <b>Unit basic:</b>
  <%= @product.unit_basic %>
</p>

<p>
  <b>Unit sale:</b>
  <%= @product.unit_sale %>
</p>

<p>
  <b>Converter:</b>
  <%= @product.converter %>
</p>

<p>
  <b>Vat:</b>
  <%= @product.vat %>
</p>

<p>
  <b>Barcode:</b>
  <%= @product.barcode %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @product.expiration_date %>
</p>

<p>
  <b>Quantity price:</b>
  <%= @product.quantity_price %>
</p>

<p>
  <b>Retial price:</b>
  <%= @product.retial_price %>
</p>

<p>
  <b>Price a:</b>
  <%= @product.price_a %>
</p>

<p>
  <b>Price b:</b>
  <%= @product.price_b %>
</p>

<p>
  <b>State min:</b>
  <%= @product.state_min %>
</p>

<p>
  <b>State max:</b>
  <%= @product.state_max %>
</p>

<p>
  <b>State:</b>
  <%= @product.state %>
</p>

<p>
  <b>Spree products:</b>
  <%= @product.spree_products_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
