<!DOCTYPE html>
<html>
<head>
 <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <%= render 'shared/header' %>

    <div class="container">
      <div class="center hero-unit">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
        <% if flash[:alert] %>
        <p class="error"><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
