<!DOCTYPE html>
<html>
<head>
 <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<script>
$().ready(function () 

{ 

$("#bookmarks a").click(function()
  {
  $("#bookmarks .active").removeClass("active");
  $(this).parent().addClass("active");
  var element_index = $("#bookmarks a").index(this);
  $("#content div:visible").hide();
  $("#content div").eq(element_index).show();
  return false;
  });

});
</script>

</head>
<body>


  <%= render 'shared/header' %>

    <div class="container">
      <div class="hero-unit">
        <div class="center">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
        <% if flash[:alert] %>
        <p class="error"><%= flash[:alert] %></p>
      <% end %>
    </div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
